.text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.text p {
    font-size: 2.0rem;
    width: 600px;
    margin: 40px;
}

.big {
    font-size: 2.5rem;
}

.small {
    font-size: 1.5rem;
}

.bg img {
    width: 100%;
}

.flights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#reg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    border: 1px solid white;
    border-collapse: collapse;
    border-spacing: 15px;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody td:nth-of-type(odd) {
    background-color: rgba(183, 183, 183, 0.13);
}

th {
    color: #fff;
    width: 120px;
    height: 50px;
}

td {
    padding: 10px;
    width: 120px;
    height: 50px;
    text-align: center;
}

thead th:nth-child(1) {
    background: #7987ac;
}

thead th:nth-child(2) {
    background: #4f628d;
}

thead th:nth-child(3) {
    background: #2f4173;
}

thead th:nth-child(4) {
    background: #162954;
}

thead th:nth-child(5) {
    background: #07153a;
}
thead tr:first-child th:first-child
{
    border-top-left-radius: 14px;
}

thead tr:first-child th:last-child
{
    border-top-right-radius: 14px;
}

tbody tr:last-child td:first-child
{
    border-bottom-left-radius: 14px;
}

tbody tr:last-child td:last-child
{
    border-bottom-right-radius: 14px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 100px;
    cursor: pointer;
}

.social {
    padding: 0.75rem 1rem;
    border-radius: 9px;
    border: 1px solid #ccc;
    color: #000;
    width: fit-content;
    transition: color 150ms ease-in-out;
    margin: 0.5rem;
}

.social:hover {
    color: darkgray;
}

.socials {
display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.text div {
    font-size: 1.0rem;
    width: 200px;
    margin: 10px;
}

@media (max-width: 768px) {
    .text p {
        font-size: 1.5rem;
        width: 300px;
        margin: 20px;
    }
    .big {
        font-size: 2.0rem;
    }

    th, td {
        width: 100px;
        height: 40px;
    }
}

@media (max-width: 600px) {
    .text p {
        font-size: 1.0rem;
        width: 200px;
        margin: 10px;
    }
    .big {
        font-size: 1.5rem;
    }

    th, td {
        width: 80px;
        height: 30px;
    }
    form {
        width: 300px;
    }
    table {
        margin: 30px;
    }
}

@media (max-width: 460px) {
    .text p {
        font-size: 0.8rem;
        width: 150px;
        margin: 5px;
    }
    .big {
        font-size: 1.0rem;
    }

    th, td {
        width: 60px;
        height: 20px;
    }
    form {
        width: 200px;
    }
    table {
        margin: 20px;
    }
}