.text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.text p {
    font-size: 2.0rem;
    width: 600px;
    margin: 40px;
}

.big {
    font-size: 2.5rem;
}

.small {
    font-size: 1.5rem;
}

.bg img {
    width: 100%;
}

.flights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#reg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social {
    padding: 0.75rem 1rem;
    border-radius: 9px;
    border: 1px solid #ccc;
    color: #000;
    width: fit-content;
    transition: color 150ms ease-in-out;
    margin: 0.5rem;
}

.social:hover {
    color: darkgray;
}

.socials {
display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.text div {
    font-size: 1.0rem;
    width: 200px;
    margin: 10px;
}

